services:
  db:
    image: postgres:16
    container_name: prompt_tool_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - prompt_tool_db_data:/var/lib/postgresql/data

volumes:
  prompt_tool_db_data:
